*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(172, 149, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input{
    width: 100%;

}
button{
    width: 80%;
}

form{
    width: 400px;
}
.num1,
.num2,
.num3,
.num4,
.num5{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: white;
}

input{
    width: 100%;
    padding: 10px;
    
}